# === Compiled object files ===
*.o
*.obj

# === Compiled binary files ===
*.exe
*.out
*.app

# === Precompiled headers ===
*.gch
*.pch

# === Static/Shared Libraries ===
*.lib
*.a
*.so
*.dll
*.dylib

# === Build folders ===
build/
bin/
dist/

# === IDE/editor folders and files ===
.vscode/
.idea/
*.code-workspace

# === System files ===
.DS_Store
Thumbs.db

# Build folders (CMake)
challenges/**/build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
